<!-- 編集用モーダル -->
<div class="modal fade" id="editModal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">編集</h5>
        <button type="button" class="btn-close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="ms-3 mb-3">
              <div>
                <label class="form-label mb-0">品番</label>
              </div>
              <div>
                <select
                  class="w-75"
                  id="reg_modal_item_no"
                  type="number"
                  data-id="item_no"
                  disabled
                >
                  <option value=""></option>
                  {% for item in items %}
                  <option value="{{ item.item_no }}">{{ item.item_no }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="ms-3 mb-3">
              <div class="w-75">
                <label>品名</label>
                <input class="form-control" data-id="item_name" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="ms-3 mb-3">
              <div class="w-75">
                <label>単価</label>
                <input class="form-control" data-id="item_price" />
              </div>
            </div>
            <div class="mb-3 ms-3 content h-50 d-flex align-items-center">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="item_deleted"
                  data-id="item_deleted"
                />
                <label class="form-check-label" for="item_deleted">
                  廃番
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary mx-3"
          id="close_edit_btn"
        >
          閉じる
        </button>
        <button type="button" class="btn btn-primary mx-3" id="save_edit_btn">
          保存
        </button>
      </div>
    </div>
  </div>
</div>
