<div class="modal fade" id="order_input_shipping_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">出荷</h5>
        <button
          type="button"
          class="btn-close close_shipping_modal_btn"
        ></button>
      </div>
      <div class="modal-body">
        <div class="text-center">
          <p class="fs-4 m-3">
            品番
            <span class="fs-3 text-info" id="shipping_order_no"> </span>
            を出荷しますか？
          </p>
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button
          type="button"
          class="btn btn-secondary mx-3 close_shipping_modal_btn"
        >
          閉じる
        </button>
        <button
          type="button"
          class="btn btn-primary mx-3"
          id="shipping_order_btn"
        >
          出荷
        </button>
      </div>
    </div>
  </div>
</div>
