<div class="modal fade" id="shipping_list_edit_modal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">編集</h5>
        <button type="button" class="btn-close close_btn"></button>
      </div>
      <div class="modal-body modal_content">
        <div class="row">
          <div class="col-md-6">
            <div class="p-2">
              <label class="form-label">あ</label>
              <input class="form-control" />
            </div>
            <div class="p-2">
              <label class="form-label">あ</label>
              <input class="form-control" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="p-2">
              <label class="form-label">あ</label>
              <input class="form-control" />
            </div>
            <div class="p-2">
              <label class="form-label">あ</label>
              <input class="form-control" />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary mx-3 close_btn">
          閉じる
        </button>
        <button type="button" class="btn btn-primary mx-3">保存</button>
      </div>
    </div>
  </div>
</div>
