<div class="modal fade" id="shipping_cancel_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">取消</h5>
        <button type="button" class="btn-close close_btn"></button>
      </div>
      <div class="modal-body text-center">
        <p class="fs-3 m-2">出荷を取り消しますか？</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-secondary mx-3 close_btn">
          Cancel
        </button>
        <button type="button" class="btn btn-primary mx-3 cancel_btn">取消</button>
      </div>
    </div>
  </div>
</div>
