{% extends 'base.html' %} {% block content %}
<div>
  <div class="mb-4">
    <h1 class="h2"><i class="bi bi-person-badge-fill me-2"></i>作業者登録</h1>
  </div>
  <div class="card mb-4">
    <div class="card-header py-3">
      <h2 class="h4 m-0">作業者登録</h2>
    </div>

    <div id="employee_field" class="card-body row gx-5">
      <div class="col-md-6 d-flex flex-column gap-3">
        <div>
          <label>作業者番号</label>
          <input
            id="employee_number"
            data-id="employee_number"
            class="form-control"
            placeholder="例:00001"
            type="number"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div>
          <label>作業者名</label>
          <input
            id="employee_name"
            data-id="employee_name"
            class="form-control"
            maxlength="50"
            placeholder="例:山田 太郎"
            type="text"
          />
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center py-3">
      <button id="save_btn" class="btn btn-primary btn-lg px-5">登録</button>
    </div>
  </div>
  <div class="card">
    <div class="card-header py-3">
      <h2 class="m-0 h4">作業者一覧</h2>
    </div>
    <div class="card-body">
      <table id="employee_table" class="table table-striped table-hover w-100">
        <thead>
          <tr>
            <th>作業者番号</th>
            <th>作業者名</th>
          </tr>
        </thead>
        <tbody>
          <tr></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--作業者編集モーダル-->
<div class="modal fade" id="employee_edit_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="h5 modal-title">作業者 編集</h1>
        <button type="button" class="btn-close close_modal_btn"></button>
      </div>
      <div class="modal-body modal_content">
        <div class="mb-3">
          <label>作業者番号</label>
          <input class="form-control" type="number" data-id="employee_number" />
          <div class="invalid-feedback">作業者番号を入力してください</div>
        </div>
        <div class="mb-3">
          <label>作業者名</label>
          <input class="form-control" type="text" data-id="employee_name" />
          <div class="invalid-feedback">作業者名を入力してください</div>
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-secondary close_modal_btn">
          閉じる
        </button>
        <button type="button" class="btn btn-primary edit_btn">編集</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %} {% block extra_js %}
<script>
  $(document).ready(function () {
    const url = "{% url 'employee' %}";

    //テーブルの準備
    const table = new DataTable("#employee_table", {
      ajax: {
        url: url,
        type: "POST",
        data: {
          kubun: "get_table_item",
        },
        headers: CSRF_HEADER,
      },
      columns: [
        {
          data: "employee_number",
          className: "text-start employee_table_tr",
        },
        {
          data: "employee_name",
          className: "text-start employee_table_tr",
        },
      ],
      language: {
        url: DataTable_language,
      },
    });

    //-----------コンテキストメニュー------------
    let data = {}; //編集元の作業者のデータ
    $.contextMenu({
      selector: ".employee_table_tr",
      items: {
        edit: { name: "編集", icon: "edit" },
        delete: { name: "削除", icon: "delete" },
        sep1: "------------",
        quit: { name: "閉じる", icon: "quit" },
      },
      callback: function (key, options) {
        data = table.row(options.$trigger).data();
        if (key === "edit") {
          getFieldValues("#employee_edit_modal .modal_content");
          setFieldValues("#employee_edit_modal", data);
          $("#employee_edit_modal").modal("show");
          // 編集ボタンが押された時の処理
        } else if (key === "delete") {
          // 削除ボタンが押された時の処理
          $("#employee_delete_modal").modal("show");
        }
      },
    });

    //---------作業者編集モーダル-----------------
    //編集ボタンを押した時の処理
    $("#employee_edit_modal .edit_btn").on("click", function () {
      let error = false; //入力フォームに空欄項目があるかどうか入れる。
      const edit_employee = {};
      edit_employee["id"] = data["id"];

      $("#employee_edit_modal .modal_content")
        .find("input")
        .each(function () {
          switch ($(this).prop("type")) {
            default:
              const inputVal = $(this).val();
              edit_employee[$(this).data("id")] = inputVal;
              //入力がなかったとき、フロント側でバリデーションチェックする
              if (inputVal === "") {
                $(this).addClass("is-invalid");
                error = true; //入力がなかった場合、errorの値をtrueにする
              } else {
                $(this).removeClass("is-invalid");
              }
          }
        });
      $.ajax({
        url: url,
        type: "POST",
        data: {
          fields: JSON.stringify(edit_employee),
          kubun: "edit_employee",
        },
        headers: CSRF_HEADER,
      }).done(function (response) {
        if (response.status === "success") {
          table.ajax.reload();
          $("#employee_edit_modal").modal("hide");
          LobiboxSuccess("編集に成功しました");
        } else if (response.status === "tyouhuku_error") {
          LobiboxError("作業者番号が重複しています");
        }
      });
    });

    // 登録ボタンクリック時の処理
    $("#save_btn").on("click", function () {
      const fields = getFieldValues("#employee_field");

      $.ajax({
        url: url,
        type: "POST",
        data: {
          fields: JSON.stringify(fields),
          kubun: "save",
        },
        headers: CSRF_HEADER,
      }).done(function (response) {
        if (response.status === "success") {
          resetFieldValues("#employee_field");
          LobiboxSuccess(
            "社員名" + response.employee_name + "の登録に成功しました。",
          );
        } else if (response.status === "tyouhuku_error") {
          LobiboxError("社員番号が重複しています。");
        }
      });
    });

    // 閉じるボタンクリック時の処理
    $("#employee_edit_modal .close_modal_btn").on("click", function () {
      $("#employee_edit_modal").modal("hide");
    });
  });
</script>
{% endblock %}
