{% extends 'base.html' %} {% block content %}
<div>
  <div class="mb-4">
    <h1 class="h2"><i class="bi bi-person-badge-fill me-2"></i>作業者登録</h1>
  </div>
  <div class="card mb-4">
    <div class="card-header py-3">
      <h2 class="h4 m-0">作業者登録</h2>
    </div>

    <div id="employee_field" class="card-body row gx-5">
      <div class="col-md-6">
        <div>
          <label>作業者名</label>
          <input
            id="employee_name"
            data-id="employee_name"
            class="form-control"
            maxlength="50"
            placeholder="例:山田 太郎"
            type="text"
          />
        </div>
      </div>
      <div class="col-md-6 d-flex flex-column gap-3">
        <div>
          <label>作業者番号</label>
          <input
            id="employee_number"
            data-id="employee_number"
            class="form-control"
            placeholder="例:00001"
            type="number"
          />
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center py-3">
      <button id="save_btn" class="btn btn-primary btn-lg px-5">登録</button>
    </div>
  </div>
</div>
{% endblock content %} {% block extra_js %}
<script>
  $(document).ready(function () {
    const url = "{% url 'employee' %}";

    $("#save_btn").on("click", function () {
      const fields = getFieldValues("#employee_field");

      $.ajax({
        url: url,
        type: "POST",
        data: {
          fields: JSON.stringify(fields),
          kubun: "save",
        },
        headers: CSRF_HEADER,
      }).done(function (response) {
        if (response.status === "success") {
          resetFieldValues("#employee_field");
          LobiboxSuccess(
            "社員名" + response.employee_name + "の登録に成功しました。",
          );
        } else if (response.status === "tyouhuku_error") {
          LobiboxError("社員番号が重複しています。");
        }
      });
    });
  });
</script>
{% endblock %}
