{% extends 'base.html' %} {% block content %}
<!-- 削除用用モーダル用css -->
<style>
  #item-deleteModal {
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    justify-content: center;
    align-items: center;
  }
  #item-deleteModal .Modal-content {
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 50%;
    height: 50%;
    border-radius: 15px;
    border: 2px solid black;
  }
</style>

<div>
  <div class="mb-4">
    <h1 class="h2"><i class="bi bi-motherboard-fill me-2"></i>品番登録</h1>
  </div>
  <div class="card mb-4">
    <div class="card-header py-3">
      <h2 class="h4 m-0">品番登録</h2>
    </div>
    <div id="item_register" class="card-body row gx-5">
      <div class="col-md-6 d-flex flex-column gap-3">
        <div class="mb-3">
          <label>品番</label>
          <input
            id="item_no"
            data-id="item_no"
            class="form-control"
            placeholder="品番"
            maxlength="50"
            type="text"
          />
        </div>
        <div class="mb-3">
          <label>品名</label>
          <input
            id="item_name"
            data-id="item_name"
            class="form-control"
            placeholder="品名"
            maxlength="50"
            type="text"
          />
        </div>
      </div>
      <div class="col-md-6 d-flex flex-column gap-3">
        <div class="mb-3">
          <label>単価</label>
          <input
            id="item_price"
            data-id="item_price"
            class="form-control"
            placeholder="単価"
            maxlength="50"
            type="number"
          />
        </div>
        <div class="h-50 d-flex align-items-center">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="item_deleted"
              data-id="item_deleted"
            />
            <label class="form-check-label" for="item_deleted"> 廃番 </label>
          </div>
        </div>
      </div>
      <div class="row gx-5">
        <div class="col-md-6">
          <div>
            <label>実施工程</label>
            <div class="d-flex gap-3">
              <div class="border rounded p-3 w-50 bg-light">
                <span class="text-secondary fw-bold small d-block mb-3"
                  ><i class="bi bi-list-task me-2"></i>実施工程</span
                >
                <ul
                  id="process_selected_list"
                  class="list-group"
                  style="min-height: 150px"
                ></ul>
              </div>
              <div class="border rounded p-3 w-50 bg-light">
                <span class="text-secondary fw-bold small d-block mb-3"
                  ><i class="bi bi-play-circle-fill me-2"></i>未選択工程</span
                >
                <ul
                  id="process_candidate_list"
                  data-id="process_list"
                  class="list-group"
                  style="min-height: 150px"
                >
                  {% for process in process_list %}
                  <li
                    class="list-group-item border rounded mb-2 shadow-sm d-flex align-items-center"
                    data-process_id="{{ process.id }}"
                    style="cursor: grab"
                  >
                    <i class="bi bi-grip-vertical text-secondary me-2"></i>
                    <!--改行されるとバグるのでprettierによって改行されないように-->
                    <!-- prettier-ignore -->
                    {{process.process_name }}
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center py-3">
      <button id="save_btn" class="btn btn-primary btn-lg px-5">登録</button>
    </div>
  </div>
  <div class="card">
    <div class="card-header py-3">
      <h2 class="m-0 h4">品番一覧</h2>
    </div>
    <div class="card-body">
      <table id="item_table" class="table table-striped table-hover w-100">
        <thead>
          <tr>
            <th>品番</th>
            <th>品名</th>
            <th>単価</th>
            <th>廃番</th>
          </tr>
        </thead>
        <tbody>
          <tr></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--品番削除モーダル-->
<div id="item-deleteModal">
  <div class="Modal-content" style="overflow: hidden">
    <div class="card h-100">
      <div
        class="card-header d-flex justify-content-between align-items-center"
      >
        <h2 class="h4 mb-0">削除</h2>
        <button type="button" class="btn-close modal-close"></button>
      </div>
      <div class="card-body">
        <div
          class="h-100 d-flex justify-content-center align-items-center flex-column"
        >
          <i class="bi bi-trash display-1"></i>
          <h1>削除しますか？</h1>
          <p style="color: rgb(255, 48, 48)">
            ※ 削除を取り消すことはできません
          </p>
        </div>
      </div>
      <div class="card-footer py-3">
        <div class="d-flex justify-content-center gap-5">
          <button id="delete-item-btn" class="btn-danger btn px-5">削除</button>
          <button class="btn-secondary btn px-5 modal-close">キャンセル</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 編集用モーダル -->
<div class="modal fade" id="editModal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">編集</h5>
        <button type="button" class="btn-close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="ms-3 mb-3">
              <div>
                <label class="form-label mb-0">品番</label>
              </div>
              <div>
                <select
                  id="reg_modal_item_no"
                  type="number"
                  data-id="item_no"
                  disabled
                >
                  <option value=""></option>
                  {% for item in items %}
                  <option value="{{ item.item_no }}">{{ item.item_no }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="ms-3 mb-3">
              <div>
                <label>品名</label>
                <input class="form-control" data-id="item_name" />
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="ms-3 mb-3">
              <div>
                <label>単価</label>
                <input class="form-control" data-id="item_price" />
              </div>
            </div>
            <div class="mb-3 ms-3 content h-50 d-flex align-items-center">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="item_deleted"
                  data-id="item_deleted"
                />
                <label class="form-check-label" for="item_deleted">
                  廃番
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="ms-3 mb-3">
              <label>実施工程</label>
              <div class="d-flex gap-3">
                <div class="border rounded p-3 w-50 bg-light">
                  <span class="text-secondary fw-bold small d-block mb-3"
                    ><i class="bi bi-list-task me-2"></i>実施工程</span
                  >
                  <ul
                    id="edit_process_selected_list"
                    class="list-group"
                    style="min-height: 150px"
                  >
                    <!--動的に生成した工程データが入る。-->
                  </ul>
                </div>
                <div class="border rounded p-3 w-50 bg-light">
                  <span class="text-secondary fw-bold small d-block mb-3"
                    ><i class="bi bi-play-circle-fill me-2"></i>未選択工程</span
                  >
                  <ul
                    id="edit_process_candidate_list"
                    data-id="process_list"
                    class="list-group"
                    style="min-height: 150px"
                  >
                    <!--動的に生成した工程データが入る。-->
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary mx-3"
          id="close_edit_btn"
        >
          閉じる
        </button>
        <button type="button" class="btn btn-primary mx-3" id="save_edit_btn">
          保存
        </button>
      </div>
    </div>
  </div>
</div>

<!-- prettier-ignore -->
{% endblock content %} {% block extra_js %}
<script>
  $(document).ready(function () {
    const url = "{% url 'item_register' %}";
    let delete_item_no = {};

    // SortableJSの初期化
    new Sortable(document.getElementById("process_candidate_list"), {
      group: "shared_processes",
      animation: 150,
      ghostClass: "bg-light",
    });

    new Sortable(document.getElementById("process_selected_list"), {
      group: "shared_processes",
      animation: 150,
      ghostClass: "bg-light",
    });

    // SortableJSの初期化
    new Sortable(document.getElementById("edit_process_candidate_list"), {
      group: "edit_shared_processes",
      animation: 150,
      ghostClass: "bg-light",
    });

    new Sortable(document.getElementById("edit_process_selected_list"), {
      group: "edit_shared_processes",
      animation: 150,
      ghostClass: "bg-light",
    });

    
    const table = new DataTable("#item_table", {
      ajax: {
        url: url,
        type: "POST",
        data: {
          kubun: "get_item",
        },
        headers: CSRF_HEADER,
      },
      columns: [
        { data: "item_no", className: "text-start item_register_table_tr" },
        { data: "item_name", className: "text-start item_register_table_tr" },
        { data: "item_price", className: "text-start item_register_table_tr" },
        {
          data: "item_deleted",
          className: "text-center item_register_table_tr",
          render: function (data) {
            switch (data) {
              case true:
                return '<i class="bi bi-check-lg"></i>';
              default:
                return "";
            }
          },
        },
      ],
      language: {
        url: DataTable_language,
      },
    });

    //コンテキストメニューの処理
    $.contextMenu({
      selector: ".item_register_table_tr",
      items: {
        edit: { name: "編集", icon: "edit" },
        delete: { name: "削除", icon: "delete" },
        sep1: "---------",
        quit: { name: "閉じる", icon: "quit" },
      },

      callback: function (key, options) {
        const data = table.row(options.$trigger).data();
        if (key === "edit") {
          $.ajax({
            url: url,
            type: "POST",
            data: {
              item_no: JSON.stringify(data.item_no),
              kubun: "get_edit_process_list",
            },
            headers: CSRF_HEADER,
          }).done(function (response) {
            // データを一度リセットする
            $("#edit_process_selected_list").empty();
            $("#edit_process_candidate_list").empty();
            // 選択済工程のセット
            response.process_list.forEach(function (process) {
              let selected_process_list = `
              <li
                class="list-group-item border rounded mb-2 shadow-sm d-flex align-items-center"
                data-process_id="${process.id}"
                style="cursor: grab">
                <i class="bi bi-grip-vertical text-secondary me-2"></i>
                ${process.process_name}
              </li>
            `;
              $("#edit_process_selected_list").append(selected_process_list);
            });

            // 未選択の工程のセット
            response.candidate_process_list.forEach(function (process) {
              // htmlのデータを動的に生成する。
              let candidate_process = `
              <li class="list-group-item border rounded mb-2 shadow-sm d-flex align-items-center" data-process_id="${process.id}" style="cursor: grab">
                <i class="bi bi-grip-vertical text-secondary me-2"></i>
                ${process.process_name}
              </li>
            `;
              $("#edit_process_candidate_list").append(candidate_process);
            });
          });
          const item_no = data.item_no;
          $("#editModal").modal("show");
          const edit_item_no = [];
          $("#editModal")
            .find("input, select")
            .each(function () {
              edit_item_no.push($(this).data("id"));
            });
          $("#editModal")
            .find("input, select")
            .each(function () {
              switch ($(this).data("id")) {
                case "item_name":
                  $(this).val(data.item_name);
                  break;
                case "item_price":
                  $(this).val(data.item_price);
                  break;
                case "item_deleted":
                  $(this).prop("checked", data.item_deleted);
                  break;
                case "item_no":
                  $(this).val(data.item_no).trigger("change");
                  break;
              }
            });
        } else if (key === "delete") {
          delete_item_no["item_no"] = data.item_no;
          showModalFadeIn("#item-deleteModal");
        }
      },
    });

    //登録ボタンを押した時の処理
    $("#save_btn").on("click", function () {
      let fields = {};

      $("#item_register")
        .find("input")
        .each(function () {
          switch ($(this).attr("type")) {
            case "checkbox":
              fields[$(this).data("id")] = $(this).prop("checked");
              break;
            default:
              fields[$(this).data("id")] = $(this).val();
          }
        });
      //実施工程ののリストを作成
      let process_list = [];
      $("#process_selected_list")
        .find("li")
        .each(function (i) {
          process_list.push({
            item_no: fields.item_no,
            process_id: $(this).data("process_id"),
            process_turn: i + 1,
          });
        });

      $.ajax({
        url: url,
        type: "POST",
        data: {
          fields: JSON.stringify(fields),
          process_list: JSON.stringify(process_list),
          kubun: "save_item",
        },
        headers: CSRF_HEADER,
      }).done(function (response) {
        // 成功失敗関係なく、テーブル情報を最新にする
        table.ajax.reload();
        // 成功の場合
        if (response.status == "success") {
          // 成功の場合入力フィールドを空にする。
          $("#item_no").val("");
          $("#item_name").val("");
          $("#item_price").val("");
          $("#item_deleted").prop("checked", false);
          LobiboxSuccess("品番" + response.message + "の登録に成功しました。");
          //重複の場合
        } else if (response.status == "error_duplicate") {
          LobiboxError("品番" + response.message + "が重複しています。");
          //その他の失敗の場合
        } else {
          alert("予想外のエラーです");
        }
      });
    });

    //削除ボタンを押した時の処理
    $("#delete_btn").on("click", function () {
      const fields = {
        item_no: $("#item_no").val(),
      };
      if (fields["item_no"] === "") {
        LobiboxError("品番が未選択です。");
        return;
      }
      $.ajax({
        url: url,
        type: "POST",
        data: {
          fields: JSON.stringify(fields),
          kubun: "delete_item",
        },
        headers: CSRF_HEADER,
      }).done(function (response) {
        // 成功失敗関係なく、テーブル情報を最新にする
        table.ajax.reload();
        if (response.status == "success") {
          // 成功の場合入力フィールドを空にする。
          $("#item_no").val("");
          $("#item_name").val("");
          $("#item_price").val("");
          LobiboxSuccess("品番" + response.message + "の削除に成功しました。");
          //品番がない場合
        } else if (response.status == "error_nai") {
          LobiboxError("品番" + response.message + "が存在しません。");
        } else {
          alert("無効なリクエストです。");
        }
      });
    });

    //編集モーダル内の処理
    $("#close_edit_btn").on("click", function () {
      $("#editModal").modal("hide");
    });
    $("#editModal .btn-close").on("click", function () {
      $("#editModal").modal("hide");
    });

    //削除モーダル内の処理
    $(".modal-close").on("click", function () {
      $("#item-deleteModal").fadeOut();
    });

    //セレクト2を使用する
    $("#reg_modal_item_no").select2({
      placeholder: "品番を選択してください",
      allowClear: true,
      theme: "bootstrap-5",
      dropdownParent: $("#editModal"),
    });

    // モーダルの登録ボタン(編集ボタン)をクリック時の処理
    $("#save_edit_btn").on("click", function () {
      let fields = {};
      $("#editModal")
        .find("input, select")
        .each(function () {
          switch ($(this).attr("type")) {
            case "checkbox":
              fields[$(this).data("id")] = $(this).prop("checked");
              break;
            default:
              fields[$(this).data("id")] = $(this).val();
          }
        });
      //編集後工程データの取得
      let edit_process_list = [];

      $("#edit_process_selected_list")
        .find("li")
        .each(function (i) {
          edit_process_list.push({
            item_no: fields.item_no,
            process_id: $(this).data("process_id"),
            process_turn: i + 1,
          });
        });

      console.log(edit_process_list);

      $.ajax({
        url: url,
        type: "POST",
        data: {
          fields: JSON.stringify(fields),
          edit_process_list: JSON.stringify(edit_process_list),
          kubun: "edit_item",
        },
        headers: CSRF_HEADER,
      }).done(function (response) {
        table.ajax.reload();
        if (response.status === "success") {
          LobiboxSuccess("編集に成功しました");
          $("#editModal").modal("hide");
        } else if (response.status === "kuran_error") {
          LobiboxError("未記入の項目があります");
        } else {
          alert("想定外のエラーです。");
        }
      });
    });

    // 削除モーダルで削除をクリックしたとき
    $("#delete-item-btn").on("click", function () {
      $.ajax({
        url: url,
        type: "POST",
        data: {
          fields: JSON.stringify(delete_item_no),
          kubun: "delete_item",
        },
        headers: CSRF_HEADER,
      }).done(function (response) {
        table.ajax.reload();
        $("#item-deleteModal").fadeOut();
        if (response.status === "success") {
          LobiboxSuccess("削除に成功しました");
        } else {
          LobiboxError("削除に失敗しました");
        }
      });
    });
  });
</script>
{% endblock extra_js %}
