{% extends "base.html" %}{% block content %}
<div>
  <div>
    <h1 class="h2"><i class="bi bi-list-ul me-2"></i>受注入力</h1>
  </div>
  <div class="card mb-4">
    <div class="card-header py-3">
      <h2 class="h4 m-0">受注入力</h2>
    </div>
    <div id="order_input" class="card-body row">
      <div class="col-md-6 d-flex flex-column gap-3">
        <div class="mb-3">
          <div>
            <label class="form-label">品番</label>
          </div>
          <div>
            <select class="w-100" id="item_no" data-id="item_no" type="number">
              <option value=""></option>
              {% for item in items %}
              <option value="{{ item.item_no }}">{{ item.item_no }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label">品名</label>
          <input
            class="form-control w-100"
            id="item_name"
            data-id="item_name"
            type="text"
            placeholder="品名"
          />
        </div>
        <div class="content h-50 d-flex align-items-center">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              id="provisional_order"
              data-id="provisional_order"
            />
            <label class="form-check-label" for="provisional_order">
              仮受注
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex flex-column gap-3">
        <div class="mb-3">
          <label class="form-label">単価</label>
          <input
            class="form-control w-100"
            id="order_price"
            data-id="order_price"
            type="number"
            placeholder="単価"
          />
        </div>
        <div class="mb-3">
          <label class="form-label">注番</label>
          <input
            class="form-control w-100"
            id="order_no"
            data-id="order_no"
            type="text"
            placeholder="注番"
          />
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center py-3">
      <button id="order_btn" class="btn btn-primary btn-lg px-5">受注</button>
    </div>
  </div>
  <div class="card">
    <div class="card-header py-3">
      <h2 class="m-0 h4">受注一覧</h2>
    </div>
    <div class="card-body">
      <table id="order_table" class="table table-striped table-hover w-100">
        <thead>
          <tr>
            <th>品番</th>
            <th>品名</th>
            <th>単価</th>
            <th>注文番号</th>
            <th>仮受注</th>
          </tr>
        </thead>
        <tbody>
          <tr></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- prettier-ignore -->
{% include 'modals/order_input_shipping_modal.html' %} {% include 'modals/order_delete_modal.html' %} {% endblock content %} {% block extra_js %}
<script>
  $(document).ready(function () {
    const url = "{% url 'order_input' %}";
    //テーブルの準備
    const table = new DataTable("#order_table", {
      ajax: {
        url: url,
        type: "POST",
        data: {
          kubun: "get_item",
        },
        headers: { "X-CSRFToken": "{{ csrf_token }}" },
      },
      columns: [
        { data: "item_no", className: "text-start order_input_table_tr" },
        { data: "item_name", className: "text-start order_input_table_tr" },
        { data: "order_price", className: "text-start order_input_table_tr" },
        { data: "order_no", className: "text-start order_input_table_tr" },
        {
          data: "provisional_order",
          className: "text-center",
          render: function (data) {
            switch (data) {
              case true:
                return '<i class="bi bi-check-lg"></i>';
              default:
                return "";
            }
          },
        },
      ],
      language: {
        url: "https://cdn.datatables.net/plug-ins/1.13.7/i18n/ja.json",
      },
    });

    // コンテキストメニューの処理
    let order_no; //order_noはクリックしたテーブルの注文番号が入る。複数の関数で使用したいため外に出している。
    $.contextMenu({
      selector: ".order_input_table_tr",
      items: {
        edit: { name: "編集", icon: "edit" },
        shipping: { name: "出荷", icon: "bi bi-truck" },
        delete: { name: "削除", icon: "delete" },
        sep1: "----------",
        quit: { name: "閉じる", icon: "quit" },
      },

      callback: function (key, options) {
        const data = table.row(options.$trigger).data();
        const item_no = data.item_no;
        order_no = data.order_no;

        //編集選択時の処理
        if (key === "edit") {
          //ここに編集時の処理をあとで書く
          //出荷選択時の処理
        } else if (key === "shipping") {
          $("#shipping_order_no").text(order_no);
          $("#order_input_shipping_modal").modal("show");
          //削除選択時の処理
        } else if (key === "delete") {
          $("#order-deleteModal").css("display", "flex");
        }
      },
    });

    //--------------｟出荷モーダル内の処理｠--------------------

    //出荷モーダルで出荷ボタンをクリック
    $("#shipping_order_btn").on("click", function () {
      $.ajax({
        url: url,
        type: "POST",
        data: {
          data: order_no,
          kubun: "shipping_order",
        },
        headers: { "X-CSRFToken": "{{ csrf_token }}" },
      }).done(function (response) {
        if (response.status === "success") {
          $("#order_input_shipping_modal").modal("hide");
          Lobibox.notify("success", {
            position: "top right",
            msg: response.data + "を出荷しました。",
            icon: "bi bi-check-circle-fill",
          });
          table.ajax.reload();
        } else {
          alert("予期せぬエラーです"); //エラーの場合はalertでいい
        }
      });
    });

    //閉じるボタンを押した時の処理
    $(".close_shipping_modal_btn").on("click", function () {
      $("#order_input_shipping_modal").modal("hide");
    });

    //-----------------------------------------------

    //--------------｟削除モーダル内の処理｠-------------------
    //削除ボタンクリック時の処理
    $("#delete-order-btn").on("click", function () {
      $.ajax({
        url: url,
        type: "POST",
        data: {
          data: order_no,
          kubun: "delete_order",
        },
        headers: { "X-CSRFToken": "{{ csrf_token }}" },
      }).done(function (response) {
        if (response.status === "success") {
          table.ajax.reload();
          $("#order-deleteModal").css("display", "none");

          Lobibox.notify("success", {
            position: "top right",
            msg: "品番" + response.delete_order + "の削除に成功しました。",
            icon: "bi bi-check-circle-fill",
          });
        } else if (response.status === "error") {
          table.ajax.reload();
          $("#order-deleteModal").css("display", "none");
          Lobibox.notify("error", {
            position: "top right",
            msg: "予期せぬエラーが発生しました。", //予期せぬよラー表示の理由は、削除対象をクリックしているのに削除対象が見つからないという条件で走るから
            icon: "bi bi-x-circle-fill",
          });
        }
      });
    });

    //閉じるボタンを押した時の処理
    $(".modal-close").on("click", function () {
      $("#order-deleteModal").fadeOut();
    });

    //--------------------------------------------------

    //セレクト2を使用する
    $("#item_no").select2({
      placeholder: "品番を選択してください",
      allowClear: true,
      theme: "bootstrap-5",
      width: "100%",
    });

    //受注ボタンをクリックした時の処理
    $("#order_btn").on("click", function () {
      let fields = {};

      $("#order_input")
        .find("input, select")
        .each(function () {
          switch ($(this).attr("type")) {
            case "checkbox":
              fields[$(this).data("id")] = $(this).prop("checked");
              break;
            default:
              fields[$(this).data("id")] = $(this).val();
          }
        });

      for (const check in fields) {
        if (fields[check] === "") {
          Lobibox.notify("error", {
            position: "top right",
            msg: "未記入の項目があります。",
            icon: "bi bi-x-circle-fill",
          });
          return;
        }
      }

      $.ajax({
        url: url,
        type: "POST",
        data: {
          fields: JSON.stringify(fields),
          kubun: "save_order",
        },
        headers: { "X-CSRFToken": "{{ csrf_token }}" },
      }).done(function (response) {
        if (response.status == "success") {
          table.ajax.reload();
          $("#order_input")
            .find("input, select")
            .each(function () {
              switch ($(this).data("id")) {
                case "provisional_order":
                  $(this).prop("checked", false);
                  break;
                case "item_no":
                  $(this).val("").trigger("change");
                  break;
                default:
                  $(this).val("");
              }
            });
          Lobibox.notify("success", {
            position: "top right",
            msg: response.message + "の登録に成功しました。",
            icon: "bi bi-check-circle-fill",
          });
          //重複の場合
        } else if (response.status == "error_duplicate") {
          Lobibox.notify("error", {
            position: "top right",
            msg: "注番" + response.message + "は重複しています。",
            icon: "bi bi-x-circle-fill",
          });
          //その他の失敗の場合
        } else {
          alert("無効なリクエストです。"); //エラーの場合はalertでいい
        }
      });
    });
  });
</script>
{% endblock extra_js %}
