{% extends 'base.html' %} {% block content %}

<div>
  <div class="mb-4">
    <h1 class="h2"><i class="bi bi-diagram-3 me-2"></i>工程一覧</h1>
  </div>
  <div class="card">
    <div class="card-header py-3 d-flex justify-content-between">
      <h2 class="m-0 h4">工程一覧</h2>
      <button class="btn btn-primary" id="process_register_btn">
        <i class="bi-plus-circle"></i> 登録
      </button>
    </div>
    <div class="card-body">
      <table id="process_table" class="table table-striped table-hober w-100">
        <thead>
          <tr>
            <th>工程番号</th>
            <th>工程名</th>
          </tr>
        </thead>
        <tbody>
          <tr></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--工程登録モーダル-->
<div class="modal fade" id="process_register_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="h5 modal-title">工程 新規登録</h1>
        <button type="button" class="btn-close close_modal_btn"></button>
      </div>
      <div class="modal-body modal_content">
        <div class="mb-3">
          <label>工程番号</label>
          <input class="form-control" type="number" data-id="process_number" />
        </div>
        <div class="mb-3">
          <label>工程名</label>
          <input class="form-control" type="text" data-id="process_name" />
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-secondary close_modal_btn">
          閉じる
        </button>
        <button type="button" class="btn btn-primary register_btn">登録</button>
      </div>
    </div>
  </div>
</div>

<!--工程編集モーダル-->
<div class="modal fade" id="process_edit_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="h5 modal-title">工程 編集</h1>
        <button type="button" class="btn-close close_modal_btn"></button>
      </div>
      <div class="modal-body modal_content">
        <div class="mb-3">
          <label>工程番号</label>
          <input class="form-control" type="number" data-id="process_number" />
          <div class="invalid-feedback">工程番号を入力してください</div>
        </div>
        <div class="mb-3">
          <label>工程名</label>
          <input class="form-control" type="text" data-id="process_name" />
          <div class="invalid-feedback">工程名を入力してください</div>
        </div>
      </div>
      <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-secondary close_modal_btn">
          閉じる
        </button>
        <button type="button" class="btn btn-primary edit_btn">変更</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %} {% block extra_js %}
<script>
  $(document).ready(function () {
    const url = "{% url 'process_list' %}";
    const table = new DataTable("#process_table", {
      ajax: {
        url: url,
        type: "POST",
        data: {
          kubun: "get_item",
        },
        headers: CSRF_HEADER,
      },
      columns: [
        { data: "process_number", className: "text-start process_table_tr" },
        { data: "process_name", className: "text-start process_table_tr" },
      ],
      language: {
        url: DataTable_language,
      },
    });

    //-----------コンテキストメニュー------------
    let data = {}; //編集元の工程のデータ
    $.contextMenu({
      selector: ".process_table_tr",
      items: {
        edit: { name: "編集", icon: "edit" },
        delete: { name: "削除", icon: "delete" },
        sep1: "------------",
        quit: { name: "閉じる", icon: "quit" },
      },
      callback: function (key, options) {
        data = table.row(options.$trigger).data();
        if (key === "edit") {
          $("#process_edit_modal .modal_content")
            .find("input")
            .each(function () {
              switch ($(this).attr("type")) {
                default:
                  const key = $(this).data("id");
                  $(this).val(data[key]);
              }
            });
          $("#process_edit_modal").modal("show");
          // 編集ボタンが押された時の処理
          console.log("編集", data);
        } else if (key === "delete") {
          // 削除ボタンが押された時の処理
          console.log("削除", data);
        }
      },
    });

    //---------工程編集モーダル-----------------
    //編集ボタンを押した時の処理
    $("#process_edit_modal .edit_btn").on("click", function () {
      const edit_process = {};
      edit_process["id"] = data["id"];

      $("#process_edit_modal .modal_content")
        .find("input")
        .each(function () {
          switch ($(this).attr("type")) {
            default:
              const inputVal = $(this).val();
              edit_process[$(this).data("id")] = inputVal;
              //入力がなかったとき、フロント側でバリデーションチェックする
              if (inputVal === "") {
                $(this).addClass("is-invalid");
              } else {
                $(this).removeClass("is-invalid");
              }
          }
        });
      console.log(edit_process);
      $.ajax({
        url: url,
        type: "POST",
        data: {
          edit_process: JSON.stringify(edit_process),
          kubun: "edit_process",
        },
        headers: CSRF_HEADER,
      }).done(function (request) {
        if (request.status === "error_tyouhuku") {
          LobiboxError("工程番号が重複しています");
        } else if (request.status === "success") {
          LobiboxSuccess("工程の編集に成功しました");
        } else {
          alert("予想外のエラーが発生しました");
        }
      });
    });

    //閉じるボタンを押した時の処理
    $("#process_edit_modal .close_modal_btn").on("click", function () {
      $("#process_edit_modal").modal("hide");
    });

    //----------工程新規登録の処理----------------
    //モーダルを開くボタンを押した時の処理
    $("#process_register_btn").on("click", function () {
      $("#process_register_modal").modal("show");
    });

    //モーダルを閉じるボタンを押した時の処理
    $("#process_register_modal .close_modal_btn").on("click", function () {
      $("#process_register_modal").modal("hide");
    });

    //工程登録ボタンを押した時の処理
    $("#process_register_modal .register_btn").on("click", function () {
      const register_process = {};
      $("#process_register_modal .modal_content")
        .find("input")
        .each(function () {
          //後からcaseを追加できるようにswitch文で書いている
          switch ($(this).attr("type")) {
            default:
              register_process[$(this).data("id")] = $(this).val();
          }
        });
      $.ajax({
        url: url,
        type: "POST",
        data: {
          save_process: JSON.stringify(register_process),
          kubun: "save_process",
        },
        headers: CSRF_HEADER,
      }).done(function (request) {
        table.ajax.reload();
        $("#process_register_modal").modal("hide");
        if (request.status === "error_tyouhuku") {
          LobiboxError("工程Noが重複しています");
        } else if (request.status === "success") {
          LobiboxSuccess("登録に成功しました");
        } else {
          alert("想定外のエラーが発生しました。");
        }
      });
    });
  });
</script>

{% endblock extra_js %}
