{% extends 'base.html' %} {% block content %}
<div>
  <div class="mb-4">
    <h1 class="h2"><i class="bi bi-list-ul me-2"></i>出荷一覧</h1>
  </div>
  <div class="card">
    <div class="card-header py-3">
      <h2 class="m-0 h4">出荷一覧</h2>
    </div>
    <div class="card-body">
      <table id="shipping_table" class="table table-striped table-hover w-100">
        <thead>
          <tr>
            <th>出荷日</th>
            <th>品番</th>
            <th>品名</th>
            <th>注文番号</th>
            <th>単価</th>
            <th>出荷数</th>
          </tr>
        </thead>
        <tbody>
          <tr></tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- prettier-ignore -->
{% endblock content %} {% block extra_js %}{% include 'modals/shipping_cancel_modal.html' %}
<script>
  $(document).ready(function () {
    const url = "{% url 'shipping_list' %}";
    const table = new DataTable("#shipping_table", {
      ajax: {
        url: url,
        type: "POST",
        data: {
          kubun: "get_item",
        },
        headers: { "X-CSRFToken": "{{ csrf_token }}" },
      },
      columns: [
        {
          data: "shipping_date",
          className: "text-start shipping_table_tr",
        },
        { data: "item_no", className: "text-start shipping_table_tr" },
        { data: "item_name", className: "text-start shipping_table_tr" },
        { data: "order_no", className: "text-start shipping_table_tr" },
        { data: "order_price", className: "text-start shipping_table_tr" },
        {
          data: "shipping_quantity",
          className: "text-start shipping_table_tr",
        },
      ],
      language: {
        url: DataTable_language,
      },
    });
    //-----------コンテキストメニュー------------
    let shipping_data = {}; //現状は注番情報しか使わないが後々機能が追加される可能性があるため
    $.contextMenu({
      selector: ".shipping_table_tr",
      items: {
        cancel: { name: "取消", icon: "delete" },
        sep1: "------------",
        quit: { name: "閉じる", icon: "quit" },
      },

      callback: function (key, options) {
        const data = table.row(options.$trigger).data();
        shipping_data = { ...data }; //orderの情報全てを持った配列

        if (key === "cancel") {
          console.log(shipping_data);
          $("#shipping_cancel_modal").modal("show");
        }
      },
    });

    //-----------｟編集モーダル内の処理｠------------
    //取消ボタンを押した時の処理
    $("#shipping_cancel_modal .cancel_btn").on("click", function () {
      $.ajax({
        url: url,
        type: "POST",
        data: {
          cancel_data: shipping_data.order_no,
          kubun: "cancel_shipping",
        },
        headers: { "X-CSRFToken": "{{ csrf_token }}" },
      }).done(function (request) {
        if (request.status === "success") {
          LobiboxSuccess("出荷を取り消しました");
          table.ajax.reload();
          $("#shipping_cancel_modal").modal("hide");
        } else {
          alert("予期せぬエラーが発生しました");
        }
      });
    });

    //閉じるボタンを押した時の処理
    $("#shipping_cancel_modal .close_btn").on("click", function () {
      $("#shipping_cancel_modal").modal("hide");
    });
  });
</script>
{% endblock extra_js %}
